body {
  font-family:'Arial';
}

table {
  border: 1px solid black;
  width:100%;
  background-color: white;
  thead {
    background-color:rgba(30,255,255,0.5);
  }
  tr {
    border: 1px solid black;
  }
}

.employeeForm > div {
  margin:1em 0em;
}