<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cumpleaños!!</title>
  <style>
    body {
      background-color: #ffffff;
      font-family: 'Arial';
    }
    div.container {
    }

   .title1 {
      color:#5050ff;
      font-size: 25px;
      margin: 10px;
    }

    .birthdays_grid {
      font-size:20px;
    }

    .picture {
      font-size:30px;
      text-align: center;
    }

    .employee {}    
  </style>
</head>
<body>
  <div><img src="/public/intiveFDVlogo.png" /></div>
  <div class="container">
      <div class="title1">
         CUMPLEAÑOS DEL DIA DE HOY!!!
      </div>
      <div class="birthdays_grid">
          <% data.forEach(function(data) { %>
            <div class="employee">
              <div class="picture">
                <img src="<%= data.picture %>" width="100px" height="100px" ><%= data.name %> <%= data.lastname %> (<%= data.birthday %>)</img>
              </div>
            </div>
          <% }); %>    
      </div>
      <div class="title1">
        Les deseamos a todos un muy feliz día, de parte del staff de Intive-fdv
     </div>      
  </div>
</body>
</html>